<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.docker.push">

    <application>

        <receiver
            android:name="com.docker.push.MyJpushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.docker.push.MyJPushService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>


    </application>

</manifest>